@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&family=Roboto:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem;
}

.index {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: .7fr .7fr;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
}

.left{
    grid-row: 1, 1;
    grid-column: 1,1;
}

.left {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 100px;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns:repeat(var(--num-cols), 160px);
    grid-template-rows: 150px repeat(var(--row-height), 3);
    gap: var(--gap);
}

.left img{
   width:100%;
   height: 100%;
   object-fit: cover;
   border-radius: 20px;
}

.img-col-2{
    grid-column: span 4;
}

.right {
    grid-row: 2, 2;
    grid-column: 2,2;
}

.right h1 {
   font-size: 4.5rem;
   font-weight: 700;
   color: #24272E;
}

.right p{
    font-weight: 300;
    margin: 25px 0;
}

.right .btn { 
    outline: none;
    border: 1px solid #24272E;
    background-color: transparent;
    color: #24272E;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 10px;
    padding: .4rem 3rem;
    transition: .2s all ease-in;
}

.right .btn:hover {
    background-color: #6DA9F1;
    color: #fff;
    border: 1px solid #6DA9F1;
}

